body{
    background-color: mediumturquoise;

}
h1{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 85px;
    text-align: center;
}
h2{
    position: relative;
    color: white;
    background-color: teal;
    width: 1120px;
    height: 30px;
    bottom: 20px;
    
   
}
h3{
    position: relative;
    color: white;
    background-color: teal;
    width: 1120px;
    height: 30px;
    bottom: 20px;
    
   
}
h4{
    position: relative;
    color: white;
    background-color:rgb(85, 88, 88);
    width: 1010px;
    height: 30px;
    bottom: 30px;
    
   
}
div.cajas{
    border: 20px solid rgb(3, 95, 80);
    margin:0px;
}
div.caja1{
    position:relative;
  display:inline-block;
  text-decoration:none;
  width:1120px;
  height:180px;
  margin:15px;
  border:10px solid teal;

}
div.caja2{
    position:relative;
  display:inline-block;
  text-decoration:none;
  width:1120px;
  height:820px;
  margin:15px;
  border:10px solid teal;

}
div.caja-3{
    position: relative;
  display:inline-block;
  text-decoration:none;
  width:1000px;
  height:200px;
  margin:10px;
  padding:0px;
  left: 40px;
  border:17px solid rgb(85, 88, 88);
}
div.caja-4{
    position: relative;
    display:inline-block;
    text-decoration:none;
    width:1000px;
    height:180px;
    margin:10px;
    padding:0px;
    left: 40px;
    border:17px solid rgb(85, 88, 88);
}
div.caja-5{
    position: relative;
    display:inline-block;
    text-decoration:none;
    width:1000px;
    height:180px;
    margin:10px;
    padding:0px;
    left: 40px;
    border:17px solid rgb(85, 88, 88);
}
#div6 { 
    width: 115px;
    height: 115px;
    overflow: hidden;
    border: 1px solid whitesmoke;
    margin: 0px; 
    margin-left: 0px;
    padding: 2px; 
    border-radius: 0px 0px 0px 0px ;
    float: left;
    
    bottom: 50px;
    
  } 
  #div7 { 
    width: 115px;
    height: 115px;
    overflow: hidden;
    border: 1px solid whitesmoke; /*color blanco para el borde*/ 
    margin: 0px; 
    margin-left: 0px;
    padding: 2px; 
    border-radius: 0px 0px 0px 0px ;
    float: right;
    
      }
      #div8 { 
        width: 165px;
        height: 165px;
        overflow: hidden;
        border: 1px solid whitesmoke;
        margin: 0px; 
        margin-left: 0px;
        padding: 2px; 
        border-radius: 0px 0px 0px 0px ;
        float: left;
        position: relative;
        bottom: 55px;
        
      } 
      #div9 { 
        width: 135px;
        height: 130px;
        overflow: hidden;
        border: 1px solid whitesmoke; /*color blanco para el borde*/ 
        margin: 0px; 
        margin-left: 0px;
        padding: 2px; 
        border-radius: 0px 0px 0px 0px ;
        float: right;
        position: relative;
        
        
          }